p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

.main-title {
    font-family: 'Hurricane', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.main-subtitle {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-weight: 400;
}